name: Deploy React App to S3

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          # AKIAUPAYFDGDERKJCV7Z
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # 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
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        uses: aws-actions/s3-sync@v3
        with:
          bucket: ${{ secrets.S3_BUCKET_NAME }}
          local-path: ./build
          delete-removed: true # Optional: Delete files in S3 that are not in local-path